baostock>=0.8.8
ipython>=8.5.0
matplotlib>=3.5.3
numpy>=1.23.3
pandas>=1.4.2
requests>=2.22.0
cupy>=13.4.1
xgboost>=3.0.1
pingouin>=0.5.5
ta-lib>=0.4.32
technical>=1.5.0
tsfresh>=0.21.0
pyarrow>=20.0.0